
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: black;
}

#content {
    background-color: #eee;
    margin-top: -1px;
    margin-bottom: -1px;
}

#compte {
    color: red;
    background-color: lightblue; 
    padding: 10px; 
    text-align: right; 
}


header, #content, footer, nav, main {
    position: relative;
    border: black solid 1px;
}

table {
    border: 1;
}

nav {
    float: left;
    width: 200px;
    border-left: 0;
    border-bottom: solid 0px;
    margin-top: -1px;
}

main {
    background-color: #aaa;
    margin-top: -1px;
    margin-left: 200px;
    padding: 10px;
    border-bottom: 0;
    border-right: 0;
    min-height: 180px
}


nav ul {
    margin: 0;
    padding: 0;
}

    nav ul li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        nav ul li a {
            margin: 0;
            padding: 0 10px;
            display: block;
        }

a {
    text-decoration: none;
    color: green;
}

nav ul li a:hover {
    background-color: #555;
    color: white;
}

footer {
    clear: both;
    margin-top: -2px;
    border: 1px solid black;
}
.cocktail-image {
    width: 100px; 
    height: 100px; 
}
.tab-image{
    background-color:lightblue;
}
.tab-image-ligne {
    background-color: cornflowerblue;
}
.grise {
    background-color: #f0f0f0; 
    color: red; 
    border: 1px solid #ccc;
}
